


:root{
    
    
  --buttw: auto;  
    --bordCol:lightblue;
    --buttBack:linear-gradient(to bottom, lightblue,#FFFFFF,#FFFFFF);
    --buttColor:#000000;
    --navBack:linear-gradient(to top, lightblue,#FFFFFF);
    --solgokzCol:#000000;
    --buttCBack:linear-gradient(to bottom,#000000,#FFFFFF);
    
    
    --buttCcolor:#FFFFFF;
    --mainBoxBack:#FFFFFF;
    --calcBack:#FFFFFF;
    --innerHeight:20px;
    --backImg:#000000;
    --numShine:0px 0px 0px transparent;
    --innerWidth:0px;
    --halfinnerWidth:0px;
   --backResult:transparent;

}

@font-face {
    font-family:'topNums';
    src: url('fonts/Technology.ttf');



}


@font-face {
    font-family:'other';
    src: url('fonts/14 Segment LED Regular.ttf');



}



@font-face {
    font-family:'regularText';
    src: url('fonts/Rogbold.otf');

}


@font-face {
    font-family:'resultFont';
    src: url('fonts/lcd.14condensed.otf');

}

@font-face {
    font-family:'row1Font';
    src: url('fonts/neon-pixel-7.regular.ttf');

}






body{
    
    
    
    padding-left:2px;
    padding-right:2px;
    margin: 0%;

    background: var(--mainBoxBack);
        
    height: var(--innerHeight);
}
nav{
    
    position: relative;
    display: flex;
    align-items:center;
    justify-content: center;
    top: 0%;
    left: 0%;
    width: 100%;
    height:50px;
    color: var(--solgokzCol);
    font-weight: bold;
    background: var(--navBack);
    border: solid 1px var(--bordCol);
}

.selectTheme{
    
    
    
    
    
    position: absolute;
    right: 1px;
    top: 53px;
    width: 20%;
    color: var(--buttColor);
    background: var(--buttBack);
    font-weight: bold;
    font-size: 10px;
    border:solid 0.5px var(--bordCol);
    outline-color: var(--bordCol) ;
    outline: 0.5px;
}
.calcType{
    
    
    
        position: absolute;
    left: 1px;
    top: 53px;
    width: 20%;
    color: var(--buttColor);
    background: var(--buttBack);
    font-weight: bold;
    font-size: 10px;
    border:solid 0.5px var(--bordCol);
    outline-color: var(--bordCol) ;
    outline: 0.5px;
}
.selectTheme option:active,
.selectTheme option:checked{
     
      
       
    }
.mainBox{
    ,
    
    position: relative;
    
    left:0px;
    top:0px;
    width:100%;
    height:var(--innerHeight);
    
    background: var(--mainBoxBack);
    
    
    
}






.buttonBox2{
    
    position: absolute;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
    
    height: 50%;
    width: 100%;
    bottom: 0%;
    left: 0px;
}



.buttonBox{
    position: absolute;

    display: grid;


   grid-template-columns: auto auto auto auto;
   gap: 5px;
   
    
    height: 50%;
    width: 100%;
    bottom: 0%;
    left: 0px;
}


.butt{
    
    
    font-weight: bold;

border-radius: 19px;

font-size: 1.2rem;

background: var(--buttBack);

color: var(--buttColor);

border: solid 0.1px var(--bordCol);



}
.butt:active{
    
    
    
  transform: scale(1.5);
  

  box-shadow: 0 0 10px 1px var(--buttColor), 0 0 10px 1px var(--buttColor), 0 0 10px 1px var(--buttColor), 0 0 10px 1px var(--buttColor), 0 0 15px 1px var(--buttColor);
}



.last-row {

grid-column: span 4; /* make

this row full-width */

display: flex;

justify-content: space-between; }

.first2 {

width: calc(12.5% - 5px); /* make 5 buttons fit */}


.last3 {
    
    width: calc(25% - 5px);
}













.C{
    
    
    
    
    background: var(--buttCBack);
    color: var(--buttCcolor);
}
.backbutt{
    
    
    
    
   // width: 20px;
   // height: 10px;
}
.operationBox{
    position: absolute;
    top: 70px;
    left: 0%;
    width: 100%;
    height: calc(50% - 70px);
        background-image: var(--backImg);
    
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px var(--bordCol);
    
    
    
    
    
    
}

.calculator{
    
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--buttColor);
    text-shadow: var(--numShine);

    letter-spacing:15px;
    z-index: 10;
    
    
}

.rowsign{
    
    
    position: absolute;
    right: 0px;
    top: 22%;
    height: 10%;
    width:30px;
    border: dotted 0.01px var(--buttColor);
    background: transparent;
    font-size:2rem;
    color: var(--buttColor);
    text-shadow: var(--numShine);
    font-family: topNums;
    outline: none;
    border: none;
    z-index: 15;
}
.rowresult{
        
    position: absolute;
    top: 35%;
    height: 30%;
    width:99%;
    border: dotted 0.01px var(--buttColor);
    background: var(--backResult);
    font-size:4.5rem;
    color: var(--buttColor);
    text-shadow: var(--numShine);
    font-family: resultFont;
    outline: none;
  //  font-style: italic;
   border: none;
   
   direction:ltr;
    text-align: left;
    
}

.row1{
    
  //  display: block;
    position: absolute;
    top: 5px;
    left: 0px;
  //  right: 0;
    width:100%;
    height: 20%;
    background: transparent;
    color: var(--buttColor);
    font-weight: bold;
    font-size: 2rem;
    outline: none;
    border: none;
    text-shadow: var(--numShine);
    font-family: row1Font;
//    white-space: nowrap;
//    overflow-x: auto;

 direction:rtl;
 text-align: right;


  

    
}
.resultAnimation{
    
    
    animation: result 0.5s forwards linear;
}
@keyframes result{
    
    
    
    50%{
        
        
        
        transform: scale(2);
    }
    
    100{
        transform: scale(1);
        
    }
}